<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Dashboard</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li>DASHBOARD</li>
                <li><a href="">Members</a></li>
                <li><a href="/product">Products</a></li>
                <li><a href="">Orders</a></li>
                <li><a href="/rate">Rates</a></li>
                <li><a href="">Ships</a></li>
                <li><a href="">Payments</a></li>
                <li><a href="/admin/logout">Logout</a></li>
            </ul>
        </nav>
    </header>
</body>
</html>