*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    max-width: 1150px;
    padding: 0px 10px;
    margin: 0 auto;
    font-size: 16px;
}

.clear{
    display: block;
    content: '';
    clear: both;
}
.text-title{
    position: relative;
    display: inline-block;
    padding-left: 10px;
    margin: 10px 0;
}
.text-title::before{
    position: absolute;
    left: 0;
    top: 0;
    content: '';
    height: 100%;
    width: 2px;
    background: tan;
}
/*HEADER*/
/*********/
.menu{
    list-style: none;
    padding: 10px;
    background: orchid;
    margin-bottom: 20px;
}
.menu li{
    float: left;
}
.menu li a{
    display: inline-block;
    padding: 5px 20px;
    text-decoration: none;
    color: #000000;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
}
.menu li:hover a{
    transform: scale(1.05);
    text-decoration: underline;
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
}
.logo{
    display: inline-block;
    padding: 5px 20px;
    text-decoration: none;
    color: #000000;
    font-weight: 700;
    font-size: 20px;
}
/*********/
/*HEADER*/

/* FOOTER */
/**********/
footer{
    background: peachpuff;
    padding: 12px 5px;
    margin-top: 20px;
}
.social{
    float: right;
    transform: translateY(-15px);
    -webkit-transform: translateY(-15px);
    -moz-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    -o-transform: translateY(-15px);
}
.social i{
    display: inline-block;
    margin-left: 5px;
    cursor: pointer;
}
.fa-facebook-square{
    color: blue;
}
.fa-instagram{
    color: seagreen;
}
.fa-google-plus-g{
    color: red;
}
/*********/
/* FOOTER */


/*PRODUCT*/
/*********/
.feature-product{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.item-product{
    width: 22%;
}
.name-product{
    text-transform: uppercase;
    color: red;
    margin: 5px 0;
}
.price-product{
    margin: 5px 0;
}
.btn a{
    display: inline-block;
    padding: 10px 15px;
    text-decoration: none;
    color: #000000;
    font-weight: 600;
    margin-top: 5px;
    margin-bottom: 10px;
    border: 1px solid #000000;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}
.addtocart{
    background: brown;
}
.readmore{
    background: chartreuse;
}
.btn a:hover{
    background: transparent;
}
/*********/
/*PRODUCT*/

/*DETAIL ONE PRODUCT*/
/*********/
.product-main{
    display: flex;
    flex-wrap: wrap;
}
.product-main .thumbnails{
    width: 49%;
}
.product-main .detail{
    width: 49%;
}
.product-main .detail .name{
    margin-bottom: 7px;
}
.product-main .detail .name span{
    text-transform: uppercase;
    color: red;
    font-size: 30px;
}
.product-main .detail .star{
    margin-bottom: 7px;
}
.product-main .detail .star .fas{
    color: #f1c40f;
}
.product-main .detail .price{
    margin-bottom: 7px;
}
.product-main .detail .price span{
    color: sienna;
    text-decoration: underline;
}
.product-main .detail h4{
    color: slateblue;
    border-bottom: 1px solid slateblue;
}
.product-main .detail .dd{
    display: block;
    padding: 7px 0;
    border-bottom: 1px solid slateblue;
}
.rate{
    position: relative;
    padding: 27px 0 7px 0;
}
.rate .star{
    position: absolute;
    top: 7px;
    left: 0;
}
.star input{
    display: none;
}
.star label{
    float: right;
}
.star input:checked ~ label{
    color: #f1c40f;
}
.star:not(:checked) label:hover, .star:not(:checked) label:hover ~ label{
    color: #f39c12;
}
label[for="customername"]{
    display: inline-block;
    color: red;
    margin-top: 7px;
}
#customername{
    display: inline-block;
    width: 300px;
    height: 30px;
    line-height: 30px;
    border: none;
    border: 1px solid #000000;
    border-radius: 2px;
    margin: 7px 0;
    padding: 0 3px;
}
#comment{
    display: inline-block;
    width: 300px;
    height: 100px;
    padding: 3px;
    margin-bottom: 7px;
}
.sendrate{
    display: inline-block;
    border: none;
    border: 1px solid #000000;
    background: olivedrab;
    padding: 10px 20px;
    cursor: pointer;
    font-weight: 600;
}
.sendrate:hover{
    background: transparent;
}
.comment-item{
    padding: 5px;
    border: 1px dashed #000000;
    margin-bottom: 10px;
}
.comment-item .fas{
    color: #f1c40f;
}
.comment-time{
    margin: 10px 0 7px 0;
}
.comment-time span{
    font-weight: 600;
}
.comment-by{
    text-decoration: underline;
}
.comment-by span{
    font-weight: 600;
}
.comment-content{
    padding: 10px 0;
}
/*********/
/*DETAIL ONE PRODUCT*/

/*CART*/
/*********/
table{
    border-spacing: 0;
}
.cart-main th, .cart-main td{
    width: 400px;
    text-align: center;
    background: #333333;
    color: #ffffff;
    padding: 10px 0;
    border-bottom: 1px solid #eeeeee;
}
#quantity{
    display: inline-block;
    width: 60px;
    height: 20px;
    padding: 3px 0 3px 3px;
}
/*********/
/*CART*/

/*CHECKOUT*/
/*********/
.checkout td{
    padding: 10px;
}
.checkout td input{
    width: 250px;
    height: 30px;
    padding: 3px;
}
.checkout button{
    border: none;
    display: inline-block;
    padding: 10px 20px;
    background: olivedrab;
    font-weight: 700;
    cursor: pointer;
}
.checkout button:hover{
    background: transparent;
}
/*********/
/*CHECKOUT*/