<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Web Store</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>

    <header>
        <nav class="menu-main">
            <ul class="menu">
                <li class="logo">WEBSTORE</li>
                <li><a href="/">HOME</a></li>
                <li><a href="">PRODUCT</a></li>
                <li><a href="/about">ABOUT US</a></li>
                <li><a href="/contact">CONTACT</a></li>
                <li><a href="">CART</a></li>
                <div class="clear"></div>
            </ul>
        </nav>
    </header>

    <section class="about">
        <h1>CONTACT US</h1>
        <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis tempora ipsum explicabo iste nobis, fuga numquam quisquam accusantium perspiciatis culpa nihil totam ipsa nam. Cumque tempora, inventore officiis aut quaerat, impedit adipisci accusantium iure dicta aliquam quidem ducimus? Veniam quas porro beatae eveniet vel non ipsa eaque nam culpa libero?</h3>
        <h1>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis tempora ipsum explicabo iste nobis, fuga numquam quisquam accusantium perspiciatis culpa nihil totam ipsa nam. Cumque tempora, inventore officiis aut quaerat, impedit adipisci accusantium iure dicta aliquam quidem ducimus? Veniam quas porro beatae eveniet vel non ipsa eaque nam culpa libero?</h1>
        <h1>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis tempora ipsum explicabo iste nobis, fuga numquam quisquam accusantium perspiciatis culpa nihil totam ipsa nam. Cumque tempora, inventore officiis aut quaerat, impedit adipisci accusantium iure dicta aliquam quidem ducimus? Veniam quas porro beatae eveniet vel non ipsa eaque nam culpa libero?</h1>
        <h1>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis tempora ipsum explicabo iste nobis, fuga numquam quisquam accusantium perspiciatis culpa nihil totam ipsa nam. Cumque tempora, inventore officiis aut quaerat, impedit adipisci accusantium iure dicta aliquam quidem ducimus? Veniam quas porro beatae eveniet vel non ipsa eaque nam culpa libero?</h1>
        <h1>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis tempora ipsum explicabo iste nobis, fuga numquam quisquam accusantium perspiciatis culpa nihil totam ipsa nam. Cumque tempora, inventore officiis aut quaerat, impedit adipisci accusantium iure dicta aliquam quidem ducimus? Veniam quas porro beatae eveniet vel non ipsa eaque nam culpa libero?</h1>
        <h1>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis tempora ipsum explicabo iste nobis, fuga numquam quisquam accusantium perspiciatis culpa nihil totam ipsa nam. Cumque tempora, inventore officiis aut quaerat, impedit adipisci accusantium iure dicta aliquam quidem ducimus? Veniam quas porro beatae eveniet vel non ipsa eaque nam culpa libero?</h1>
        <h1>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis tempora ipsum explicabo iste nobis, fuga numquam quisquam accusantium perspiciatis culpa nihil totam ipsa nam. Cumque tempora, inventore officiis aut quaerat, impedit adipisci accusantium iure dicta aliquam quidem ducimus? Veniam quas porro beatae eveniet vel non ipsa eaque nam culpa libero?</h1>
        <h1>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis tempora ipsum explicabo iste nobis, fuga numquam quisquam accusantium perspiciatis culpa nihil totam ipsa nam. Cumque tempora, inventore officiis aut quaerat, impedit adipisci accusantium iure dicta aliquam quidem ducimus? Veniam quas porro beatae eveniet vel non ipsa eaque nam culpa libero?</h1>
        <h1>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis tempora ipsum explicabo iste nobis, fuga numquam quisquam accusantium perspiciatis culpa nihil totam ipsa nam. Cumque tempora, inventore officiis aut quaerat, impedit adipisci accusantium iure dicta aliquam quidem ducimus? Veniam quas porro beatae eveniet vel non ipsa eaque nam culpa libero?</h1>
        <h1>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis tempora ipsum explicabo iste nobis, fuga numquam quisquam accusantium perspiciatis culpa nihil totam ipsa nam. Cumque tempora, inventore officiis aut quaerat, impedit adipisci accusantium iure dicta aliquam quidem ducimus? Veniam quas porro beatae eveniet vel non ipsa eaque nam culpa libero?</h1>
        <h1>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis tempora ipsum explicabo iste nobis, fuga numquam quisquam accusantium perspiciatis culpa nihil totam ipsa nam. Cumque tempora, inventore officiis aut quaerat, impedit adipisci accusantium iure dicta aliquam quidem ducimus? Veniam quas porro beatae eveniet vel non ipsa eaque nam culpa libero?</h1>
    </section>

    <footer>
        <p class="createby">2019 &copy; BY JOHN NGUYEN</p>
        <div class="social">
            <i class="fab fa-facebook-square"></i>
            <i class="fab fa-instagram"></i>
            <i class="fab fa-google-plus-g"></i>
        </div>
    </footer>
    
</body>
</html>